.overlay {
    background-color: rgb(0 0 0 /0.8);
    display: block; 
    position: absolute;
    height: 120px;
    width: 120px;  
    z-index: -1;
  }
  
  .overlay-pancil {
  z-index: 1;
  position: absolute;
  margin-block-start: 50px;
  margin-inline-start: 50px;
  }